.list_wrapper {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    overflow:visible;
    height: 100%;
    .pagination_wrapper {
        position: sticky;
        width: 100%;
        margin-bottom: 20px;
    }
}

